diffusers
accelerate
transformers==4.44.2
xformers==0.0.28.post1
imageio
imageio[ffmpeg]
decord
scipy
scikit-learn
matplotlib
segment_anything
einops
omegaconf
safetensors
gradio
wandb
triton
opencv-python
loguru
huggingface-hub==0.24.6
kornia
fairscale
yacs
timm
tiktoken
transformers_stream_generator
